@model rlf.ViewModels.RegisterModel

@{
	ViewData["Title"] = "Register";
}

<div class="wrapper">
	<div class="text-center mt-4 name">
		Регистрация
	</div>
	<hr />

	<form asp-action="Register" asp-controller="Account">
		<div class="form-field d-flex align-items-center">
			<span class="far fa-user"></span>
			<label asp-for="Name"></label>
			<input type="text" asp-for="Name" />
		</div>

		<div class="form-field d-flex align-items-center">
			<span class="far fa-user"></span>
			<label asp-for="NickName"></label>
			<input type="text" asp-for="NickName" />
		</div>

		<div class="form-field d-flex align-items-center">
			<span class="far fa-user"></span>
			<label asp-for="PlaceOfResidence"></label>
			<input type="text" asp-for="PlaceOfResidence" />
		</div>

		<div class="form-field d-flex align-items-center">
			<span class="far fa-user"></span>
			<label asp-for="TimeZone"></label>
			<input type="text" asp-for="TimeZone" />
		</div>

		<div class="form-field d-flex align-items-center">
			<span class="far fa-user"></span>
			<label asp-for="Login"></label>
			<input type="text" asp-for="Login" />
		</div>
		<div class="form-field d-flex align-items-center">
			<span class="far fa-user"></span>
			<label asp-for="Email"></label>
			<input type="email" asp-for="Email" />
		</div>

		<div class="form-field d-flex align-items-center">
			<span class="far fa-user"></span>
			<label asp-for="Phone"></label>
			<input type="text" asp-for="Phone" />
		</div>
		<div class="form-field d-flex align-items-center">
			<span class="far fa-user"></span>
			<label asp-for="Password"></label>
			<input type="password" asp-for="Password" />
		</div>
		<div class="form-field d-flex align-items-center">
			<span class="far fa-user"></span>
			<label asp-for="ConfirmPassword"></label>
			<input type="password" asp-for="ConfirmPassword" />
		</div>


		<button class="btn mt-3">Регистрация</button>
		<button class="btn mt-3"> <a asp-action="Login">Вернуться обратно</a></button>
	</form>

	<div class="text-center fs-6">
		@if (ViewData.ModelState.ContainsKey("isRegFailed"))
		{
			foreach (var err in @ViewData.ModelState["isRegFailed"].Errors)
			{
				<h5>@err.ErrorMessage</h5>
			}
		}
	</div>
</div>